/* -------------------- CSS BY Taylor Sherman -------------------------------------- */
/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
/*-------------------- CSS RESET --------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    font-family: "Inter", serif;
    font-size: 1.25em;
    --Teal: #4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff; 
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media (min-width: 450px) {
    body {
    min-width: 428px;
} 
html {
    background-color:  var(--Purple);
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    color: var(--Dark-gray);  
  }

  h1, h2 {
    font-family: 'Kavoon';
  }
  
  h1 {
    font-size: 2.5em; 
    color: var(--White);
    line-height: 1.15;
    min-width: 100%;
  }

  nav h2 {
    display: flex;
    position: fixed;
    top:0px;
    right:0px;
    font-size: 1.5em;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    background-color: var(--Yellow);
    color: var(--Dark-gray);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 3;
    font-style: italic;
    font-weight: bold;
  }
  nav ul {
    display: none;
  }
  h2 {
    font-size: 2em;
    color: var(--White);
  }

  h3 {
    font-size: 1.5em;
    color: var(--Yellow);
    font-weight: bold;
  }
  
  h4 {
    font-size: 1.15em;
    color: var(--Purple);
    font-weight: bold;
  }

  h1 {
    position: relative;  
    background-color: var(--Lavender);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 1em;  
    text-align: center;
  }
 
  header h1 {
    position: relative;
    z-index: 2; 
  }

  h1 + p {
  position: relative;
  z-index: 1; 
  background-color: var(--Pink);
  color: var(--White);
  margin: 0 auto;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 90%;
  text-align: center;
  font-style: italic;
  
  }

  .more-text {
    display: none;
  }
  #services, #pricing{
    padding: 1em;
  }
  .service-card {
    background-color: var(--White);
    border-radius: 15px;
    padding: 1.5em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    margin: 1em;
  }
#why-choose-us {
    background-color: var(--Pink);
    max-width: 100%;
    padding:1em;
}

  #why-choose-us ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em; 
    list-style: none; 
    margin: 0;  
    padding: 0;
  }
  #why-choose-us ul li {
    color: var(--Dark-gray); 
    text-align: center; 
    font-weight: bold; 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }
  #why-choose-us ul li:nth-child(1) {
    background-color: var(--Teal);
  }
  #why-choose-us ul li:nth-child(2) {
    background-color: var(--Lavender);
  }
  #why-choose-us ul li:nth-child(3) {
    background-color: var(--Yellow);
  }
  #why-choose-us ul li:nth-child(4) {
    background-color: var(--White);
  }
  #pricing table {
    border-collapse: collapse; 
    margin: 1em auto;
  }
  
  #pricing table th {
    background-color: var(--Yellow);
    color: var(--Dark-gray);
    font-weight: bold; 
    padding: 0.5em;
  }
  
  #pricing table td {
    background-color: var(--White);
    color: var(--Dark-gray);
    padding: 0.5em;
    vertical-align: top; 
  }
  
  
  #pricing table,
  #pricing table th,
  #pricing table td {
    border: 2px solid var(--Yellow);
  }

  #take-the-first-step {
    background-color: var(--Pink);
    padding: 1em; 
  }
  
  #take-the-first-step p {
    color: var(--White);
  }
  #take-the-first-step a{
    display: block;
    width: 75%;
    margin: 1em auto;
    background-color: var(--White);
    color: var(--Dark-gray);
    border-radius: 20px;
    padding: 0.75em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 4px 4px 8px rgba(0,0,0,1);
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
    background-color: var(--Lavender);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2em;
    margin-bottom: 2em;
  }

  footer small, footer a {
    color: var(--White);
    font-size: small; 
    text-align: center; 
    font-weight: 500;  
  }

}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media (min-width: 620px) {
  h1 {
    font-size: 3em;
  }
  .more-text {
    display: inline;
  }
  .service-card {
    background-color: var(--White);
    border-radius: 15px;
    padding: 1.5em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    margin:.5em;
  }
#One-on-One {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap:1em;
}
#One-on-One h3{
  grid-column: 1 / -1; 
}
#One-on-One .service-card:nth-child(2) {
  grid-column: 1;
}

#One-on-One .service-card:nth-child(3) {
  grid-column: 2;
}
#One-on-One .service-card:nth-child(4) {
  grid-column: 1 / -1;
}
#group-coaching .group-service-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1em;
}

#why-choose-us ul {
  display: flex;
  justify-content: center;  
  gap: 1.5em; 
  padding: 0;
  list-style: none;
}
.pricing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

.pricing-card {
  
  text-align: center;
}

.pricing-card h3 {

  text-align: left; 

}
.First-step-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media (min-width: 950px) {
  nav h2{
    display: none;
  }
  nav ul{
    display: flex;
    position: fixed;
    top:0px;
    right:0px;
    font-size: .75em;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    padding-left: 2em;
    padding-right:2em;
    background-color: var(--Yellow);
    color: var(--Dark-gray);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 3;
    font-weight: bold;
    text-decoration: none;
    gap: 3em;
  }
  nav a {
    text-decoration: none;
    color: var(--Dark-gray);
  }

  .services-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
.services-grid h3{
  white-space: nowrap;
  font-size: 1rem;
  text-align: left;
  margin: 10px;
}
 
  #One-on-One,
  #group-coaching,
  #workshops-seminars,
  #online {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 100%;
  }
  #group-coaching .group-service-cards{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
  .service-card {
    background-color: var(--White);
    border-radius: 15px;
    padding: 1.5em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    min-width:250px;
    font-size: large;
  }

  .service-card img {
    max-width: 80px;
    height: auto;
  }
  #why-choose-us ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em; 
    list-style: none; 
    margin: 0;  
    padding: 0;
}
#why-choose-us ul li {
  padding: 2em;
}
nav a:hover {
  color: var(--White);
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1em; 
  max-width: 100%;
  margin: 0 auto;
}

.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: auto;
}
.pricing-card h3 {
  font-size: 1.15em;
  white-space: nowrap;
  text-align: left; 
}
table {
  max-width: 100%;
}
.First-step-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

.First-step-content a{
  max-width:50%;
}
body {
  font-size: 1.1em; 
  overflow-x: hidden; 
}

.services-grid,
.pricing-grid {
  max-width: 90%; 
}

.service-card {
  padding: 1em; 
}
}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media (min-width: 1280px) {
  body {
    max-width: 90%; 
    margin: 0 auto; 
  }
  
  body {
    max-width: 90%;
    font-size: 1em; 
    margin: 0 auto;
    overflow-x: hidden;
  }

  .services-grid,
  .pricing-grid {
    max-width: 1400px;
  }

  nav {
    position: absolute;
    right: 2em;
    top: 1.5em;
  }
}